package layouts

templ Base() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8"/>
			<title>Go Blueprint Hello</title>
			<script src="/js/htmx.min.js"></script>
			<link href="/css/output.css" rel="stylesheet"/>
		</head>
		<body>
			@NavBar()
			<main>
				{ children... }
				<p></p>
			</main>
		</body>
	</html>
}
