package todo

import "todo/cmd/web/layouts"
import "todo/internal/model"
import "todo/internal/util"

templ Index(model []model.Todo) {
	@layouts.Base() {
		Todos:
		<ul>
			for _, item := range model {
				<li>
					<a href={ templ.URL(util.Reverse(ctx, "get-todo", item.ID)) }>
						{ item.Title }
					</a>
				</li>
			}
		</ul>
	}
}
